div(style="max-width: 640px; min-width: 320px; padding: 20px 20px 0; font-size: 14px; margin: 0 auto 18px;")
  //- 正文
  div(style="border-bottom: 1px solid #e3e3e9;padding: 0 0 30px 0;")
    //- logo
    a(href=logoLink target="_blank" rel="noopener noreferrer" style="display: block; height: 74px; background-color: #e4e9ef; text-align: center; margin: 0 0 15px 0;") 
      img(src=logoIcon, alt=logoAlt height=40 style="height: 40px; padding: 17px 0;")
    if schoolLink
      a(href=schoolLink target="_blank" rel="noopener noreferrer" style="display: block;")
        div(style="padding: 0 0 10px 0;")
          img(src=schoolLogo alt=schoolLogoAlt height=50 style="object-fit: cover;" )
    else
      div(style="padding: 0 0 10px 0;")
        img(src=schoolLogo alt=schoolLogoAlt height=50 style="object-fit: cover;" )
    //- message type
    p(style="font-size: 20px; line-height: 28px; font-weight: 600; margin: 0 0 20px;")
      strong #{messageType}
    //- Dear user
    p(style="line-height: 21px; font-weight: 600; margin: 0 0 16px;")
      strong #{user}
    //- message header
    div(style="line-height: 21px; margin: 0 0 30px;") !{messageSummary}
    //- message content
    div(style="line-height: 21px; margin: 0;") !{messageContent}
    //- join link
    a(href=noticeLink, style="background-color: #ea5947; background-image: linear-gradient(46deg, #EA5947 0%, #F97652 100%); line-height: 20px;margin: 40px 0 30px;text-decoration: none; display: block; border-radius: 4px; overflow: hidden; width: 283px;")
      table(border=0, style="border: none; border-collapse: collapse; width: 100%;")
        tbody
          tr(style="height: 44px;")
            td(style="text-align: left; padding: 0 0 0 20px; color: #fff;") Open
            td(style="letter-spacing: 0; text-align: right; padding: 0 20px 0 0; color: #fff;")
              img(src=rightArrowIcon)
    a(href=noticeLink, style="line-height: 21px; color: #529FFF; text-decoration: none;") #{noticeLink}
  //- 署名
  div(style="margin: 20px 0 30px; line-height: 21px; color: #969696")
    p(style="margin: 0") Ulearning Team
    p(style="margin: 0") Thank you for using ULearning Learning Management System.
  //- 退订
